.nav-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-active {
  background-color:  rgba(56, 54, 77, 0.939);
  box-shadow: 5px -1px 12px -5px grey;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #5CE1E6;
  padding: 16px 32px 40px 32px;
  font-family: "Myriad Pro Regular", serif;
  font-size: 1.4rem;
  transition: 0.3s ease-in-out;
  backdrop-filter: blur(10px);
 
}

.hamburger {
  display: block;
  position: absolute;
  top: 16px;
  left: 13px;
  z-index: 100000000;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}


.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: space-between;
  margin: 5px -16px;
}

.menu a {
  color: var(--light);
  margin: 0 0px;
  text-align: center;
  width: fit-content;
  text-decoration: none;
  transition: 0.4s;
  padding: 12px 0px 6px 0px;
  border-bottom: transparent solid 2px;
}

.nav-item {
  width: fit-content;
  margin: auto;
  text-align: center;
}

.menu a.is-active,
.menu a:hover {
  color: #6328EB;
  font-size: 1.45rem;
  font-weight: bold;
  border-bottom: #6328EB solid 2px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 100000;
  padding-top: 5rem;
  opacity: 0;
  transform: translateY(-100%);
  background-color: #000000e6;
  color: #fff;
  transition: 0.2s;
  
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu a {
  display: block;
  padding: 0.6rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.3s;
  margin-bottom: 60px;
}

.mobile-menu a:hover {
  color: #5CE1E6;
  font-size: 1.55rem;
  font-weight: bold;
}

@media (min-width: 1300px) {
  .mobile-menu,
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
  }
  nav {
    padding: 10px 32px 10px 32px;
  }
}
