html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  
}

body {
  background: #000;
  font-family: system-ui, sans-serif;
  font-size: 4rem;
  
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  margin: 0;
  overflow-y: auto;
  flex-direction: column;
  
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh; /* Set each section to take up the full height of the viewport */
  width: 100vw; /* Set each section to take up the full width of the viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  
 

}

section:nth-of-type(even) {
  color: white;
  background: #101111;
}

section:nth-of-type(odd) {
  color: rgb(250, 245, 245);
  background: #FF66C4;
  text-align: center;
 
}

.neon {
  font-family: 'Mexcellent 3d', sans-serif;
  font-size: 130px;
  color: #45dde2;
  font-weight: 400;
  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #210685, 2px 0px 4px #420574, 3px 0px 4px #7c047c, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA, 40px 0vw 200px #D42CCA;
}

.flicker-slow {
  animation: flicker 30s forwards infinite;
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
  }

  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
  }
}
.techstatic{
    height: max-content;
}


